// Header

header {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;

  & h1 {
    padding: 10px 0;
    text-align: center;
    font-family: "Shrikhand", sans-serif;
    font-weight: medium;
    font-style: normal;
  }
}

.header-container,
.header-container-menu {
  width: 100%;
  margin: 0 auto 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 15px 0 rgb(100, 100, 100, 0.3);

  & h1 {
    font-family: "Shrikhand", sans-serif;
    padding: 10px 0;
    text-align: center;
  }

  & a {
    margin: 0;
    padding: 0;
  }

  & i {
    position: absolute;
    top: 28px;
    left: 38px;
    color: black;
  }
}

.header-container-menu {
  box-shadow: unset;
  margin-bottom: 0;
}
