// Restaurants

.restaurants {
  width: 100%;
  display: flex;
  background-color: $secondary-background;
}

.restaurants-container {
  width: 100%;
  padding: 42px 38px;
}

.restaurants-container h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 28px;

  @media (min-width: 640px) {
    text-align: center;
  }
}

.restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    row-gap: 0.5em;
    max-width: 900px;
    margin: 0 auto;
  }

  @media (min-width: 1124px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2em;
    row-gap: 0.5em;
    max-width: 1340px;
    margin: 0 auto;
  }
}

.restaurant-card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  box-shadow: 4px 4px 8px #2222;

  @media (min-width: 640px) {
    max-width: 450px;
  }
}

.restaurant-card-link {
  color: black;
  margin-bottom: 22px;

  & :visited {
    color: black;
  }
}

.restaurant-card-image {
  width: 100%;
  min-width: 180px;
  min-height: 180px;
  max-height: 180px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.restaurant-card-heading {
  display: flex;
  justify-content: space-between;
  padding: 8px 14px 14px;
}

.restaurant-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.restaurant-card-title {
  font-size: 1.1em;
  margin-bottom: 4px;
  font-weight: 500;
}

.restaurant-card-location {
  display: inline-block;
  font-weight: 300;
  text-align: left;
}

.restaurant-card-notice {
  top: 14px;
  right: 18px;
  font-size: 0.9em;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 2px;
  position: absolute;
  color: rgb(0, 152, 114);
  background-color: #99e2d0;
}
