// Fonts

@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Shrikhand";
  src: url(public/fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Shrikhand";
  src: url(fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}

// Root

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;

  &:visited {
    color: black;
  }
}

a {
  color: black;
}

@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Shrikhand";
  src: url(.fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Shrikhand";
  src: url(.fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}
