// Fade menu

@keyframes fade-menu {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Loading Spinner

@keyframes loading {
  0% {
    opacity: 0.9;
    z-index: 2;
  }

  80% {
    opacity: 0.9;
    background-color: white;
    z-index: 2;
  }

  100% {
    opacity: 0;
  }
}

// Spinner

@keyframes spinner {
  0% {
    transform: rotate(-3turn);
  }

  100% {
    transform: rotate(0turn);
  }
}
