// Check button

.check-button {
  display: flex;
  align-items: center;
  background-color: rgba(131, 232, 210, 0.8);
  width: 100%;
  flex: 0;
  justify-content: flex-end;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 450ms ease-in-out;
  transform: translateX(80px);

  &__image {
    color: rgba(131, 232, 210, 0.8);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    transition: transform 450ms ease-in-out, color 250ms 100ms;
    transform: translateX(80px);
    transform: rotate(-3turn);
  }
}
