// Heart

.heart {
  position: relative;
  bottom: 11px;
  right: 20px;

  @media (min-width: 640px) {
    right: -20px;
  }
}

.fa-heart {
  position: absolute;
  height: auto;
  width: auto;
  font-size: 1.4rem;
  cursor: pointer;
}

.heart-full {
  transition: all 300ms ease-in;
  background: -webkit-linear-gradient($secondary-color, $primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-empty {
  transition: all 300ms ease-in;
}

.heart .heart-full,
.heart:hover .heart-empty {
  opacity: 0;
}

.heart:hover .heart-full {
  opacity: 1;
}

// Heart for restaurants

.heart-restaurant {
  position: relative;
  right: 20px;
  top: 0;
}

.heart-restaurant:hover .heart-full {
  opacity: 1;
}
